services:
  app:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: SGP
    ports:
      - "8089:80"
      - "488:443"
    volumes:
      - ../src:/app
    environment:
      - PHP_DISPLAY_ERRORS=1
      - PHP_MEMORY_LIMIT=512M
      - PHP_MAX_EXECUTION_TIME=300
      - WEB_DOCUMENT_ROOT=/app/public
      - COMPOSER_VERSION=2
      - COMPOSER_PROCESS_TIMEOUT=3600
      - COMPOSER_MEMORY_LIMIT=-1
      - APP_ENV=local
      - APP_DEBUG=true
      - DB_CONNECTION=pgsql
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_DATABASE=laravel
      - DB_USERNAME=laravel_user
      - DB_PASSWORD=laravel_pass
    depends_on:
      - postgres

  postgres:
    image: postgres:14
    container_name: postgres_laravel
    environment:
      POSTGRES_DB: laravel
      POSTGRES_USER: laravel_user
      POSTGRES_PASSWORD: laravel_pass
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5433:5432"

volumes:
  pgdata:

networks:
  default:
    external:
      name: internal